/* Regras Globais */

body{
    padding: 0;
    margin: 0;
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;
    overflow-x: hidden; /*Corrobora com o problema da horizontal sliding bar que aparecia por causa das animações que mexiam com pixeis e aumentavam o tamanho da tela por um breve momento ao reiniciar a pagina."*/
}

*{
    box-sizing: border-box; /*Pra evitar a barra de rolagem criada pelo padding em alguns elementos*/
    margin: 0;
    padding: 0;
}

/* ---------------------- */

/* OVERLAY - Para criar o estilo opaco ao abrir uma div popUp.*/

.overlay{
    position: fixed;
    top: 0; /* entender melhor o top e left. */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------- */

/* ANIMAÇÕES*/

@keyframes deslizarEsquerda{
    from {
        opacity: 0.5;
        transform: translateX(-25px);
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes deslizarDireita{
    from {
        opacity: 0.5;
        transform: translateX(25px);
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes deslizarCima{
    from {
        opacity: 0.5;
        transform: translateY(-50px);
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes deslizarBaixo{
    from{
        opacity: 0.5;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}



/* ---------------------- */

.corBase{
    background-image: linear-gradient(to bottom, rgb(190, 149, 13), rgb(76, 128, 18), darkgreen);
}

/* ESTILIZAÇÕES */
#navBarPrincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.3rem 2rem;
    color: white;
}

#navBarPrincipal h2{
    animation: deslizarCima 1s ease-out forwards;
    padding: 0 1rem;
    font-size: 1rem;
}

#navBarPrincipal img{
    height: 4rem;
    animation: deslizarEsquerda 1s ease-out forwards;
}

#menuHamburger{
    animation: deslizarDireita 1s ease-out forwards;
    /*Considerar arrumar o fato de que ao clicar no menu hamburguer com o overlay (opacidade) aberto, ele nao fecha a navbar lateral.*/
}

#menuHamburger:hover{
    cursor: pointer;    
}

#menuHamburger img{
    width: 2rem;
    height: 2rem;

    margin-top: 3px;
    animation: deslizarDireita 1s ease-out forwards;
}

#configNavBar{ 
    background-image: linear-gradient(to bottom, rgb(76, 128, 18), rgb(81, 133, 13), rgb(173, 132, 17));

    height: 100vh;
    width: 55%;

    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;

    display: flex;
    justify-content: center;

    animation: deslizarEsquerda 0.5s ease forwards;
}

#navbarEscondidaLinks{
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;

    padding: 0;
    margin-top: 1.7rem;
    gap: 1rem;

    width: 100%;
}

#navbarEscondidaLinks hr{
    width: 98%;
}

#navbarEscondidaLinks li{
    font-size: x-large;
    color: white;
    padding: 0 90%;
}

#navbarEscondidaLinks a,
#navbarEscondidaLinks a:visited,
#navbarEscondidaLinks a:active{
    text-decoration: none;
    color: inherit;
}


#sectionPrincipal{
    margin-top: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: deslizarBaixo 1s ease-out forwards;
}

#sectionPrincipal h1{
    margin-bottom: 0.8rem;
    font-size: x-large;
}

#principalTexto{
    display: flex;
    gap: 0.7rem;
}

#imagemInterrogacao{
    display: flex;
    align-items: center;
    justify-content: center;
}

#imagemInterrogacao img{
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: 1rem;
}

#imagemInterrogacao img:hover{
    cursor: pointer;
}

/* DIV invisível na aba de dúvidas (?) */

#invisivelDuvidaDiv{
    background-color: white;
    border: 2px solid gray;
    border-radius: 14px;

    position: fixed;

    width: 20rem;
    min-height: 17rem;
    max-height: auto;
    gap: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 9999;

    animation: deslizarCima 0.5s ease-in-out forwards;
}


#invisivelDuvidaDiv ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 0.5rem;
}

#invisivelDuvidaDiv li{
    overflow-wrap: break-word; /* entender isso melhor, mas serve ao ajudar no overflow de caracteres nao fittables */
    word-wrap: break-word;
    max-width: 50%;
    list-style: none;
}

#invisivelDuvidaDiv button{
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.escondido{
    display: none !important;
}

/* --------------------- */

#divBarraPesquisa{
    justify-content: center;
    align-items: center;
}

#divBarraPesquisa input{
    border: solid gray 2px;
    border-radius: 0.15rem;
    background-color: rgb(239, 237, 237);
    

    width: 70vw;
    height: 2.5rem;

    font-size: 1.1rem;

    padding-left: 0.5rem;

}

#caixaDeResultados ul{
    border-top: 1px solid black;
    padding: 15px 10px;
}

#caixaDeResultados ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
}







/* FOOTER */

footer{
    display: none; /*adicionar FLEX quando terminar o restante da pagina, e a imagem do linkedin tb.*/
    

    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 10vh;

    gap: 0.6rem;

    margin-top: auto;
}

/* ---------------------- */

@media (min-width: 720px){
    body{
        display: none;
    }
}