/* Regras Globais */

body{
    padding: 0;
    margin: 0;
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;
}

/* ---------------------- */

/* ANIMAÇÕES*/

@keyframes deslizarEsquerda{
    from {
        opacity: 0.5;
        transform: translateX(-50px);
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes deslizarDireita{
    from {
        opacity: 0.5;
        transform: translateX(50px);
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes deslizarCima{
    from {
        opacity: 0.5;
        transform: translateY(-50px);
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* ---------------------- */

/* ESTILIZAÇÕES */
#navBarPrincipal{
    background-color: rgb(20, 65, 180);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 3rem;
}

#navBarPrincipal h2{
    animation: deslizarCima 1s ease-out forwards;
    font-size: larger;
}

#navBarPrincipal img{
    height: 4rem;
    animation: deslizarEsquerda 1s ease-out forwards;
}

#menuHamburger{
    animation: deslizarDireita 1s ease-out forwards;
}

#sectionPrincipal{
    margin-top: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#principalTexto{
    display: flex;
}

#principalTexto img{
    /* preciso rever como deixar ela do lado do titulo*/

    height: 1.5rem;
    width: 1.5rem;
}



#divBarraPesquisa input{
    border: solid gray 2px;
    border-radius: 0.3rem;

    width: 43vw;
    height: 1.5rem;
}

/* ---------------------- */

@media (min-width: 720px){
    body{
        display: none;
    }
}