/* Regras Globais */

body{
    padding: 0;
    margin: 0;
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;
}

/* ---------------------- */

/* ANIMAÇÕES*/

@keyframes deslizarEsquerda{
    from {
        opacity: 0.5;
        transform: translateX(-50px);
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes deslizarDireita{
    from {
        opacity: 0.5;
        transform: translateX(50px);
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes deslizarCima{
    from {
        opacity: 0.5;
        transform: translateY(-50px);
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* ---------------------- */

/* ESTILIZAÇÕES */
#navBarPrincipal{
    background-color: rgb(20, 65, 180);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 3rem;
}

#navBarPrincipal h2{
    animation: deslizarCima 1s ease-out forwards;
    font-size: larger;
}

#navBarPrincipal img{
    height: 4rem;
    animation: deslizarEsquerda 1s ease-out forwards;
}

#menuHamburger{
    animation: deslizarDireita 1s ease-out forwards;
}

#sectionPrincipal{
    margin-top: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sectionPrincipal h1{
    margin-bottom: 0.8rem;
}

#principalTexto{
    display: flex;
    gap: 0.7rem;
}

#imagemInterrogacao{
    display: flex;
    align-items: center;
    justify-content: center;
}

#imagemInterrogacao img{
    /* preciso rever como deixar ela do lado do titulo*/
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: 1rem;
}

#imagemInterrogacao img:hover{
    cursor: pointer;
}

/* DIV invisível na aba de dúvidas (?) */

#invisivelDuvidaDiv{
    background-color: white;
    border: 2px solid gray;
    border-radius: 14px;

    position: fixed;

    width: 20rem;
    height: 15rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 1000;
}

.escondido{
    display: none !important;
}

/* --------------------- */

#divBarraPesquisa input{
    border: solid gray 2px;
    border-radius: 0.3rem;

    width: 43vw;
    height: 1.5rem;
}

/* ---------------------- */

@media (min-width: 720px){
    body{
        display: none;
    }
}