body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;

}

@keyframes deslizarCima{
    from{
        opacity: 0.5;
        transform: translateY(-6rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.corBase{
    background-image: linear-gradient(to bottom, rgb(190, 149, 13), rgb(76, 128, 18), darkgreen);
}

#loginSection{
    margin:  auto;
}

#divLogin{
    background:
    linear-gradient(rgb(216, 216, 216), rgb(216, 216, 216)) padding-box,
    linear-gradient(
        to bottom,
        rgb(190, 149, 13),
        rgb(76, 128, 18),
        darkgreen
    ) border-box;

    border: 0.45rem solid transparent;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    height: 55vh;
    width: 55vw;

    animation: deslizarCima 0.5s ease-out forwards;
}

#divLogin h1{
    margin-bottom: 1rem;
}

#loginInputs{
    display: flex;
    flex-direction: column;

    padding: 3rem;
    gap: 1.6rem;
}