/* OVERLAY - Para criar o estilo opaco ao abrir uma div popUp.*/

.overlay{
    position: fixed;
    top: 0; /* entender melhor o top e left. */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.escondido{
    display: none !important;
}

/* ---------------------- */


@keyframes deslizarEsquerda{
    from {
        opacity: 0.5;
        transform: translateX(-25px);
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes deslizarDireita{
    from {
        opacity: 0.5;
        transform: translateX(25px);
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes deslizarCima{
    from {
        opacity: 0.5;
        transform: translateY(-50px);
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes deslizarBaixo{
    from{
        opacity: 0.5;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

body{
    padding: 0;
    margin: 0;
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;
    overflow-x: hidden; /*Corrobora com o problema da horizontal sliding bar que aparecia por causa das animações que mexiam com pixeis e aumentavam o tamanho da tela por um breve momento ao reiniciar a pagina."*/

    height: 100vh;
}

*{
    box-sizing: border-box; /*Pra evitar a barra de rolagem criada pelo padding em alguns elementos*/
    margin: 0;
    padding: 0;
}


.corBase{
    background-image: linear-gradient(to bottom, rgb(190, 149, 13), rgb(76, 128, 18), darkgreen);
}


#navBarPrincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.3rem 2rem;
    color: white;
}

#navBarPrincipal h2{
    animation: deslizarCima 1s ease-out forwards;
    padding: 0 1rem;
    font-size: 1rem;
}

#navBarPrincipal img{
    height: 4rem;
    animation: deslizarEsquerda 1s ease-out forwards;
}

#infoSection{

    margin: 6rem auto 0;   
         
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 90vw;
    height: auto;
    max-height: 40vh;
    gap: 0.8rem;
}

#infoSection h1{
    margin-top: 1rem;
    font-size: larger;
}

#infoSection h3{
    font-size:large;
    margin-bottom: 0.6rem;
}

#verificarCadastros{
    width: 90%;
    padding: 1rem;

    border: 3px solid rgb(147, 145, 145);
    border-radius: 6px;
    margin-bottom: 1rem;

    overflow-y: auto; /*Supostamente cria uma barra de rolagem se a lista crescer*/
}

#verificarCadastros input{
    width: 100%;
    height: 20%;

    padding: 0.5rem;
    margin-bottom: 1rem;
}

#listaRegistros{
    display: flex;
    flex-direction: column;

    list-style: none;
    gap: 0.8rem;
}

#divAdicionarRegistro{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 3rem auto;
}

#divAdicionarRegistro button{
    padding: 1rem;

    border-radius: 6px;
}

#registrar:hover{
    cursor: pointer;
}



footer{
    display: flex; /*adicionar FLEX quando terminar o restante da pagina, e a imagem do linkedin tb.*/
    flex-direction: column;
    position: fixed;
    bottom: 0;
    padding: 1rem;

    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100vw;
    height: 10vh;

    gap: 0.6rem;

    margin-top: auto;

    color: white;
}

#creditosSite{
    display: flex;
    justify-content: center;


    margin-top: 0.5rem;
    gap: 0.4rem;
}

#creditosSite img{
    height: 1.1rem;
    width: 1.1rem;
}





/* Modal de criar registro */

#criarRegistro{
    height: 30rem;
    max-height: auto;
    width: 21rem;
    max-width: 500px;

    z-index: 999;

    background-color: white;
    border: 3px solid black;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: deslizarCima 0.6s ease-out forwards;
}

#fechar{
    border: 2px black solid;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

#fechar:hover{
    cursor:pointer;
}

#registroInputs{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 1.3rem;

    text-align: center;
}

#registrarDados{
    display: block;
    margin: 1.3rem auto auto auto;

    padding: 0.5rem;
}

#registrarDados:hover{
    cursor: pointer;
}

#criarRegistro:hover{
    cursor: auto;
}

/* ---------------------------------- */