@keyframes deslizarEsquerda{
    from {
        opacity: 0.5;
        transform: translateX(-25px);
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes deslizarDireita{
    from {
        opacity: 0.5;
        transform: translateX(25px);
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes deslizarCima{
    from {
        opacity: 0.5;
        transform: translateY(-50px);
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes deslizarBaixo{
    from{
        opacity: 0.5;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

body{
    padding: 0;
    margin: 0;
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;
    overflow-x: hidden; /*Corrobora com o problema da horizontal sliding bar que aparecia por causa das animações que mexiam com pixeis e aumentavam o tamanho da tela por um breve momento ao reiniciar a pagina."*/
}

*{
    box-sizing: border-box; /*Pra evitar a barra de rolagem criada pelo padding em alguns elementos*/
    margin: 0;
    padding: 0;
}


.corBase{
    background-image: linear-gradient(to bottom, rgb(190, 149, 13), rgb(76, 128, 18), darkgreen);
}


#navBarPrincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.3rem 2rem;
    color: white;
}

#navBarPrincipal h2{
    animation: deslizarCima 1s ease-out forwards;
    padding: 0 1rem;
    font-size: 1rem;
}

#navBarPrincipal img{
    height: 4rem;
    animation: deslizarEsquerda 1s ease-out forwards;
}
